.container {
  /* background-color: green; */
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.container__h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 8rem;
}

.container__h2 h2 {
  font-size: 3rem;
  color: rgb(59, 58, 58);
  font-weight: 400;
}

.container__flatList {
  margin: auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
