.sortElements {
  width: 30%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.sortOption {
  padding: 0.8rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: lightgray;
}

.sortOption:hover {
  cursor: pointer;
  background-color: rgb(172, 171, 171);
}

.sortElements button {
  border: none;
}

.active {
  outline: 0.2rem solid black;
  background-color: rgb(172, 171, 171);
}
