<div class="card equal-height-card h-100" style="width: 25rem">
  <img [src]="flat.imageUrl" class="card-img-top flat-img" alt="flat image" />

  <div class="card-body">
    <h5 class="card-title fs-3">{{ flat.price | number : "1.0-0" }} zł</h5>
    <h6 class="card-subtitle mb-3 text-muted fs-5">
      {{ flat.pricePerMeter | number : "1.0-0" }} zł/m²
    </h6>

    <p class="card-text d-flex align-items-center mb-2">
      <i class="bx bx-map me-2 fs-3"></i>
      {{ flat.address }}
    </p>

    <p class="card-text d-flex align-items-center mb-2">
      <i class="bx bx-area me-2 fs-3"></i>
      {{ flat.area }} m²
    </p>

    <p class="card-text d-flex align-items-center mb-2">
      <i class="bx bx-door-open me-2 fs-3"></i>
      {{ flat.rooms }} pokoje
    </p>

    <p class="card-text d-flex align-items-center">
      <i class="bx bx-building me-2 fs-3"></i>
      {{ flat.floor > 0 ? flat.floor + " piętro" : "parter" }}
    </p>
  </div>
</div>
